@{
    ViewBag.Title = "About";
}

<!--JDR: Banner-->
<div class="row"><img class="col-md-12 img-grayscale" src="@Url.Content("~/Content/Images/BannerInvest.png")"></div>

<div class="bank-bank-body-content">
    <h1 class="bank-header">@ViewBag.Title</h1>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus, libero a rutrum consequat, ipsum odio accumsan nibh, blandit sodales mi massa quis justo. Donec cursus nulla enim, at mattis ante volutpat non. Morbi in lectus non ipsum consectetur mollis nec eu erat. Curabitur quis turpis magna. Nam at odio at dui tincidunt luctus vitae et ipsum. Vivamus libero arcu, tincidunt a semper eget, dapibus sit amet odio. Aliquam pellentesque eget metus ut luctus. Duis quam ex, sodales at ipsum sed, viverra lobortis metus
    </div>

    <div class="loan-options-container row vertical-divide text-center">
        <div class="col-md-4">
            <h3 class="loan-options-title">Personal Loan</h3>
            <div>
                Personal loan with lower interest rate than on an unsecured personal loan.
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="loan-options-title">Auto Loan</h3>
            <div>
                Obtain your auto insurance and readside assistance product 100% online
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="loan-options-title">Home Loan</h3>
            <div>
                Recive an instant pre-approval for your mortgage loan.
            </div>
        </div>
    </div>

    <div>
        Sed enim justo, vulputate ut magna iaculis, vestibulum aliquam ante. Fusce porttitor augue ut leo commodo, eu imperdiet augue aliquet. Etiam ut libero risus. In molestie eget arcu at malesuada. Curabitur ac arcu ut lorem varius gravida. Quisque euismod arcu ut mattis venenatis. Proin vitae blandit sem. Mauris iaculis porta elementum. Etiam finibus bibendum risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris et molestie elit. Mauris at viverra neque, in tristique lorem. Cras et aliquam enim.
    </div>
</div>
