@{ ViewBag.Title = "Recover Password"; }

<div class="bank-header">Recover Password</div>

<form id="ForgotPasswordForm" action="/Account/ForgotPassword" method="Post">
    <div class="form-horizontal form-gray-box">
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                    <input class="form-control" id="Email" name="Email" type="email" placeholder="Email Address">
                </div>
            </div>
            <br /><br />
            <div class="col-md-12">
                <button class="form-control btn bank-yellow-btn" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
